
  <div class="categories mt-5">
    <header class="d-flex align-items-center fw-bold">
      <h2 class="fs-1">Categories</h2>
    </header>
    <div class="body-content row gap-3 mt-4">
      <div class="col py-5 rounded">
        <a href="" class="text-decoration-none">
          <div class="image text-center">
            <img
              src="assets/Imgs/category1.png"
              alt=""
              height="120px"
              class="text-center"
            />
          </div>
          <div class="text text-center fs-3 mt-4">
            <span class="text-dark">Food </span>
          </div>
        </a>
      </div>
      <div class="col py-5 rounded">
        <a href="" class="text-decoration-none">
          <div class="image text-center">
            <img
              src="assets/Imgs/category2.png"
              alt=""
              height="120px"
              class="text-center"
            />
          </div>
          <div class="text text-center fs-3 mt-4">
            <span class="text-dark">Desktop </span>
          </div>
        </a>
      </div>
      <div class="col py-5 rounded">
        <a href="" class="text-decoration-none">
          <div class="image text-center">
            <img
              src="assets/Imgs/category3.png"
              alt=""
              height="120px"
              class="text-center"
            />
          </div>
          <div class="text text-center fs-3 mt-4">
            <span class="text-dark">Occasions </span>
          </div>
        </a>
      </div>
      <div class="col py-5 rounded">
        <a href="" class="text-decoration-none">
          <div class="image text-center">
            <img
              src="assets/Imgs/category4.png"
              alt=""
              height="120px"
              class="text-center"
            />
          </div>
          <div class="text text-center fs-3 mt-4">
            <span class="text-dark">Technology </span>
          </div>
        </a>
      </div>
      <div class="col py-5 rounded">
        <a href="" class="text-decoration-none">
          <div class="image text-center">
            <img
              src="assets/Imgs/category5.jpg"
              alt=""
              height="120px"
              class="text-center"
            />
          </div>
          <div class="text text-center fs-3 mt-4">
            <span class="text-dark">School </span>
          </div>
        </a>
      </div>
      <div class="col py-5 rounded">
        <a href="" class="text-decoration-none">
          <div class="image text-center">
            <img
              src="assets/Imgs/category6.png"
              alt=""
              height="120px"
              class="text-center"
            />
          </div>
          <div class="text text-center fs-3 mt-4">
            <span class="text-dark">Hygiene </span>
          </div>
        </a>
      </div>
    </div>
  </div>

