<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="logo">
      <div routerLink="home" class=""><img src="/assets/Imgs/logo.png" alt="" width="100px" /></div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search  -->
      <form class="d-flex form-inline mx-auto my-2" role="search">
        <input
          class="form-control search-barr rounded-0 fw-bold"
          type="search"
          aria-label="Search"
          type="text"
          placeholder="What are you looking for?"
          name="q"
          autocomplete="none"
        />
        <button type="submit" class="search-btn border-0">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div class="check d-flex align-items-center">
        <!-- SignIn -->
        <div class="signin">
          <div *ngIf="user == undefined"
            routerLink="home/login"
            class="fw-bold text-white border-0 text-decoration-none btn"
            >Sign In<i class="fa-regular fa-user ms-2"></i
          ></div>
          <div *ngIf="user != undefined" class="account dropdown">
            <div  class="text-light text-center">Hello, {{user.firstname}}</div>
            <div ngbDropdown class="dropdown">
            <a ngbDropdownToggle class="fw-bold text-white border-0 text-decoration-none btn" type="button" id="dropdownMenuButton1" aria-expanded="false">
              My Account<i class="fa-regular fa-user ms-2"></i>
            </a>
              <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" href="/home/profile?">Profile</a>
                  <a href="" class="dropdown-item" (click)="logOut()">Logout</a>
                </li>
              </ul>
            </div>
            </div>
        </div>
        <!-- Cart  -->
        <div class="cart fw-bold">
          <div routerLink="home/cart" type="button" class="text-decoration-none" >
            <span class="fw-bold text-white border-0 "
              >Cart<i class="fa-solid fa-cart-shopping ms-2"></i
            ></span>
            <div class="cart-counter text-light">{{getCartCount()}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

