<div class="hero">
    <div class="container m-0 d-flex align-items-center" style="height: 700px">
      <div class="text text-light ps-5">
        <h1>Order all products easily and at the best price.</h1>
        <p class="text-white-50">
          You can order business purchases through the platform from any
          global site.
        </p>
        <div class="btns-contanier d-flex">
          <button class="btn btn-lg btn-danger rounded-pill px-4 py-2">
            Shop Now
          </button>
          <button class="btn btn-lg btn-warning rounded-pill px-4 py-2 ms-2">
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
