<div class=" py-5 px-5 m-0 bg-light">
  <div class="row">
    <div class="col-lg-2">
      <a class="btn btn-outline fw-bold dropdown-toggle border-0" data-bs-toggle="collapse" href="#brandCollapse" role="button" aria-expanded="true" aria-controls="brandCollapse">Brand</a>
      <div class="col">
        <div class="collapse show multi-collapse ms-3" id="brandCollapse">
          <div class="content mt-3">
            <div class="checkBox-brand-container">
              <input class="checkBox-brand" type="checkbox" name="brand">
              <label class="checkBox-label"></label>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-outline fw-bold dropdown-toggle mt-2 border-0" data-bs-toggle="collapse" href="#networkCollapse" role="button" aria-expanded="false" aria-controls="networkCollapse">Network
        Type</a>
      <div class="col">
        <div class="collapse multi-collapse ms-3" id="networkCollapse">
          <div class="content mt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">5G</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">4G</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">3G</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">2G</label>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-outline fw-bold dropdown-toggle mt-2 border-0" data-bs-toggle="collapse" href="#modelYear" role="button" aria-expanded="false" aria-controls="modelYear">Model Year</a>
      <div class="col">
        <div class="collapse multi-collapse ms-3" id="modelYear">
          <div class="content mt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">2022</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">2021</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">2020</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">2019</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
          <div class="text-center">
            <a href="/productDetails/"><img src="" class="product-img" alt="" height="220" /></a>
          </div>
          <div class="text mb-1">
            <a href="/productDetails/" class="text-decoration-none text-dark text-product fw-bold"></a>
          </div>
          <div class="price text-primary">
            <span class="fw-bold"></span>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
          <div class="text-center">
            <a href="/productDetails/"><img src="" class="product-img" alt="" height="220" /></a>
          </div>
          <div class="text mb-1">
            <a href="/productDetails/" class="text-decoration-none text-dark text-product fw-bold">

            </a>
          </div>
          <div class="price text-primary">
            <span class="fw-bold">

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    //checkBox Brand selection 
    let brandCheckBoxes = document.querySelectorAll(".checkBox-brand")

    let url = window.location.href
    brandCheckBoxes.forEach((item) => {
      item.addEventListener('change', (e) => {
        let brand = e.target.value
        let category = e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.classList[0]
        window.open(`/home/category?cat=${category}&brand=${brand}`, "_self")
      })
    })
  </script>