<nav class="sub-header navbar navbar-expand-lg bg-light">
    <div class="container-fluid justify-content-start px-5">
      <div class="allCategoriesBtn d-flex">
        <div class="text d-flex align-items-center" onclick="catBtnClick()">
          <span class="me-2">Categories</span>
          <img src="/assets/Imgs/category.png" width="25px" height="25px" alt="" />
        </div>
        <div class="megamenu">
          <div class="row p-0 m-0">
            <div class="col-xl-2 p-0">
              <div class="links p-3">
                <li><a href="">Food and Beverages</a></li>
                <li><a href="">Plastics and Cleaning</a></li>
                <li><a href="">Office Stationery</a></li>
                <li><a href="">Appliances</a></li>
                <li><a href="">Office Furniture</a></li>
                <li><a href="">Smart Home</a></li>
                <li><a href="">Computers</a></li>
                <li><a href="">Gaming</a></li>
                <li><a href="">Bikes</a></li>
                <li><a href="">Outdoor equipment</a></li>
                <li><a href="">Travel supplies</a></li>
              </div>
            </div>
            <div class="col-xl-8 col-md-10 col-md-12 bg-dark text-light">
              <div class="row py-4">
                <div class="col-lg-3 col-md-4 text-center">
                  <img src="/assets/Imgs/megamenu1.jpg" width="100%" alt="" />
                  <p class="fs-4 p-3">Fitness</p>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                  <img src="/assets/Imgs/megamenu2.jpg" width="100%" alt="" />
                  <p class="fs-4 p-3">Hygiene</p>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                  <img src="/assets/Imgs/megamenu3.jpg" width="100%" alt="" />
                  <p class="fs-4 p-3">BackPacks</p>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                  <img src="/assets/Imgs/megamenu4.jpg" width="100%" alt="" />
                  <p class="fs-4 p-3">Pet Supplies</p>
                </div>
              </div>
              <div class="row py-4">
                <div class="col-lg-3 col-md-4 text-center">
                  <img src="/assets/Imgs/megamenu5.jpg" width="100%" alt="" />
                  <p class="fs-4 p-3">Smart Watches</p>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                  <img src="/assets/Imgs/megamenu6.jpg" width="100%" alt="" />
                  <p class="fs-4 p-3">LifeStyle</p>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                  <img src="/assets/Imgs/megamenu7.jpg" width="100%" alt="" />
                  <p class="fs-4 p-3">School</p>
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                  <img src="/assets/Imgs/megamenu8.jpg" width="100%" alt="" />
                  <p class="fs-4 p-3">Smart Room</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 thirdSection d-none d-xl-block p-0">
              <div class="text animatedArrow">
                Show All Categories <i class="fa-solid fa-arrow-right"></i>
              </div>
              <img src="assets\Imgs\CTA.png" width="100%" height="100%" alt="" />
            </div>
          </div>
        </div>
      </div>
  
      <div class="navbar text-center">
        <ul class="links nav mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Electronics</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Mobiles</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Men</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Women</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Baby &amp; Toys</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Beauty &amp; Health</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Supermarket</a
            >
          </li>
          <li class="nav-item">
            <a
              href=""
              class="nav-link fw-bold text-black"
              aria-current="page"
              href="#"
              >Deals</a
            >
          </li>
          <li class="ms-3 text-danger d-flex align-items-center">
            <i class="fa-solid fa-phone me-1"></i>
            <div class="fw-bold">01234453215</div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
