<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="/">Home</a>
        <span class="breadcrumb-item active">Shopping Cart</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="container-fluid mt-4">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-hover text-center mb-0">
        <thead class="bg-dark text-light">
          <tr>
            <th>Products</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr
            *ngFor="let cartLine of cartLines; let i = index"
            class="app-cart-line"
          ></tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <form class="mb-4" action="">
        <div class="input-group d-flex align-items-center">
          <input
            type="text"
            class="form-control border-0 bg-light p-2"
            placeholder="Coupon Code"
          />
          <div class="input-group-append">
            <button class="btn btn-primary p-2">Apply Coupon</button>
          </div>
        </div>
      </form>
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="pr-3">Cart Summary</span>
      </h5>
      <div class="bg-light p-30 mb-5">
        <div class="border-bottom pb-2">
          <div class="d-flex justify-content-between mb-3">
            <h6>Subtotal</h6>
            <h6>{{ getSubTotal()}}</h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">
              {{ getShippingCost() }}
            </h6>
          </div>
        </div>
        <div class="pt-2">
          <div class="d-flex justify-content-between mt-2">
            <h5>Total</h5>
            <h5>{{ getTotal()}}</h5>
          </div>
          <button
            class="btn btn-block d-block btn-primary w-100 font-weight-bold my-3 mx-auto py-2"
          >
            Proceed To Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->
