* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --black-color: #02284b;
  }
  
  /* Start Container  */
  .container {
    padding-inline: 35px;
  }
  
  /* End Container  */

  /* Animated Arrow  */
  .animatedArrow:hover .fa-arrow-right {
    animation: move 2s infinite forwards;
    position: relative;
  }
  
  @keyframes move {
    0% {
      right: 0px;
    }
  
    25% {
      right: -10px;
    }
  
    50% {
      right: 0px;
    }
  
    75% {
      right: -10px;
    }
  
    100% {
      right: 0px;
    }
  }