<div class="electronics mt-5 p-5">
    <header class="d-flex align-items-center fw-bold">
      <h2 class="fs-1">
        Electronics - <span class="text-danger">Up TO 50% OFF</span>
      </h2>
  </header>
  <div class="body-content mt-4">
    <div class="row text-center mt-3">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="image">
        <a href=""><img src="/assets/Imgs/ele1.png" height="400px" alt="" /></a>
      </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="image">
        <a href=""><img src="/assets/Imgs/ele2.png" height="400px" alt="" /></a>
      </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="image">
        <a href=""><img src="/assets/Imgs/ele3.png" height="400px" alt="" /></a>
      </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="image">
        <a href=""><img src="/assets/Imgs/ele4.png" height="400px" alt="" /></a>
      </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="image">
        <a href=""><img src="/assets/Imgs/ele5.png" height="400px" alt="" /></a>
      </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="image">
        <a href=""><img src="/assets/Imgs/ele6.png" height="400px" alt="" /></a>
      </div>
      </div>
      </div>
      </div>
</div>